body{background-color: pink;
}


.main-container{
	background-color: #000;
	width: 200px;
	height: 300px;
	margin: 0 auto;
	margin-top: 20px;
	padding-top:30px;
	box-sizing: border-box;
}
.red{
	background-color: red;
	width: 70px;
	height: 70px;
	margin: 0 auto;
	border-radius: 50px;
	margin-bottom: 10px;
	

}
.yellow{
	background-color: yellow;
	width: 70px;
	height: 70px;
	margin: 0 auto;
	border-radius: 50px;
	margin-bottom: 10px;
	

}
.green{
	background-color: green;
	width: 70px;
	height: 70px;
	margin: 0 auto;
	border-radius: 50px;
	margin-bottom: 10px;
	
}
.stand{
	background-color: #000;
	width: 100px;
	height: 200px;
	margin: 0 auto;
	
}
.off{
	background-color: #ccc
}
